

.header {
  width: 100%;
  border-bottom: 1px solid #ccc; /* Define uma linha cinzenta visível */
  padding: 16px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem; /* Mantém os elementos afastados das bordas laterais */
  box-sizing: border-box;
}
/* 2. Container da Logo (Imagem + Texto) */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;                      /* Espaço entre a imagem e o texto Studio Alfa */
}

/* 3. Tamanho da imagem da Logo */
.logo-icon {
 
  width: 100px; /* Aumente este valor conforme preferir (ex: 180px, 200px, 220px) */
  height: auto;  /* Mantém a proporção da imagem sem distorcer */

}

/* 4. Menu de navegação */
.nav {
  display: flex;
  align-items: center;
  gap: 20px;                      /* Espaçamento entre os links */
}

.nav a {
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 16px;
}

.nav a:hover {
  color: #ff00aa;
  transition: ease 0.5s;
}

.btn-contatos {
  border: 1px solid var(--cor-borda);
  padding: 8px 20px;
  border-radius: var(--raio-pequeno);
  transition: background-color 0.2s;
}

.btn-contatos:hover {
  background-color: var(--cor-texto);
  color: var(--cor-fundo) !important;
}